- set_title("#{user.full_name} on Monday Miles")
- set_twitter_card_title("#{user.full_name} on Monday Miles")
- set_twitter_card_image(user.profile_or_placeholder_image_url)

.profile

  .summary
    .user
      .photo= image_tag user.profile_or_placeholder_image_url
      .details
        .name= user.full_name
        .location= user.location
    .stats
      .stat-group
        .heading= user.recent_monday_streak_title
        .primary-stat-container
          .stat.stat__primary= user.recent_monday_streak_length
          - if user.recent_monday_streak_dates_string
            .stat-label.stat-label__primary= user.recent_monday_streak_dates_string

  - if user.monday_activities.not_deleted.any?
    %activities(:request-url="'#{user_monday_activities_path(user.slug)}'"
                :year-options="#{user.monday_activities_year_options_json}")
  - else
    .activities
      .missing No Monday activities found. Get moving!
