!!!
%html
  %head
    %title= title
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'description', content: meta_description }
    %meta{ name: 'twitter:card', content: 'summary' }
    %meta{ name: 'twitter:title', content: twitter_card_title }
    %meta{ name: 'twitter:description', content: twitter_card_description }
    %meta{ name: 'twitter:image', content: twitter_card_image }
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    %script{ src: 'https://use.fontawesome.com/63cffeb424.js' }
    = render 'application/favicon'

  %body
    = render 'layouts/header'
    = render 'layouts/flashes'

    #vue-app= yield

    = render 'layouts/footer'
