!!!
%html
  %head
    %title Monday Miles
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    %script{ src: 'https://use.fontawesome.com/63cffeb424.js' }
    = render 'application/favicon'

  %body
    = render 'layouts/header'
    = render 'layouts/flashes'

    #vue-app= yield

    = render 'layouts/footer'
